<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
     <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
     <div class="main-content">
          {{>header}}
          <p>This site was created by Amaninder Singh (amaninder_sj@yahoo.com). This site collects data from mapbox and darksky to provide weather forecast.</p>
          <img class="portrait" src = "./img/img.jpg">
     </div>
{{>footer}}
</body>
</html>